* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  color: #1e1f1e;
  font-size: 16px;
}

/* for uses */

.p-0 {
  padding: 0;
}

.p-l-0 {
  padding-left: 0;
}

.p-r-0 {
  padding-right: 0;
}

.m-0 {
  margin: 0;
}

.m-t-0 {
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

a {
  color: #1a1a1a;
}

a:hover, a.active {
  color: #f7471e;
  text-decoration: none;
}

header {
  background: #f5f5f5;
  padding: 20px 0;
  width: 100%;
}

/* main Navbar */

.header {
  -webkit-box-shadow: 0px 1px 20px 0px rgba(50, 67, 73, 0.2);
  box-shadow: 0px 1px 20px 0px rgba(50, 67, 73, 0.2);
  border-bottom: 1px solid #e5e5e5;
}

.menu {
  margin-bottom: 0;
}

.menu li {
  display: inline-block;
  list-style: none;
}

.menu li a {
  color: #172940;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  padding: 0 23px;
  position: relative;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
}

.menu li a:hover, .menu li a.active {
  color: #f7471e;
}

.menu li .create-btn {
  border: 1px solid #f7471e;
  background: #f7471e;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.menu li .create-btn:hover, .menu li .create-btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.menu .submenu {
  -webkit-box-shadow: 0px 3px 10px #00000029;
  box-shadow: 0px 3px 10px #00000029;
  background: #ffffff;
  position: absolute;
  width: 290px;
  top: 46px;
  right: 20px;
  z-index: 2;
}

.menu .submenu li {
  display: block;
}

.menu .submenu li a {
  color: #172940;
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7;
  line-height: 21px;
}

.menu li:last-child a {
  padding-right: 0;
}

.menu .submenu li a span {
  color: #D8D8D8;
  margin-right: 10px;
  font-size: 16px;
}

.menu .submenu li a:hover, .menu .submenu li a:hover span {
  color: #f7471e;
}

.logo img {
  width: 100%;
  max-width: 120px;
}

.main-header .row {
  display: flex;
  align-items: center;
}

/* banner */
.banner-section {
  background: #f5f5f5;
  min-height: 100vh;
  padding: 18vh 0 20vh;
  overflow: hidden;
}

.banner-section:before{
  content:'';
  position: absolute;
  top:0;
  left: 0;
  width: 10px;
  height: 100vh;
  background:#f7471e;  
  border-bottom-right-radius:20px;
}

.banner-right-box {
  text-align: right;
  position: relative;
  z-index: 99;
}

.banner-right-box .slider-img{
  position: relative;
  z-index: 99;
  max-width: 450px;
}

.banner-right-box span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner-right-box .top-banner-dots {
  max-width: 150px;
  left: 66px;
  top: -70px;
  animation-duration: 2s;
}

.banner-right-box .top-banner-dots img{
  opacity: 0.15;
}

.banner-right-box .bottom-banner-dots {
  right: -94px;
  left: auto;
  top: auto;
  bottom: -37px;
  max-width: 200px;
  animation-duration: 2s;
}


.banner-section h1, .banner-section p {
  color: #1e1f1e;
  font-family: 'Poppins', sans-serif;
  animation-duration: 1.5s;
}

.banner-section h1 {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 30px;
}

.banner-section p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom:20px;
}

.banner-btn {
  display: block;
  border-radius: 5px;
  border:2px solid #f7471e;
  background: #f7471e;
  color: #fff;
  line-height: normal;
  padding: 12px;
  max-width: 150px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
  transition: 0.6s ease-in-out;
  animation-duration: 3.5s;
}

.banner-btn:hover{
  background: transparent;
  color: #f7471e;
}

/* Course offer */
.course-offer{
  background: #f5f5f5;
  padding-bottom: 70px;
  position: relative;
}

.course-offer:before {
  content: '';
  background: url(../img/dots-5.png) center no-repeat;
  background-size: 200px;
  position: absolute;
  bottom: -110px;
  left: -13px;
  width: 130px;
  height: 220px;
  opacity: 0.3;
}

.heading-sec{
  animation-duration: 1s;
}

.slider-box{
  animation-duration: 1s;
}

.course-slider .slick-prev, .course-slider .slick-next {
  background: #ffffff;
  position: absolute;
  left: -380px;
  top: auto;
  bottom: 0;
  width: 80px;
  height: 40px;
  padding: 5px 20px;
}

.course-slider .slick-prev{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.course-slider .slick-next {
  background: #f7471e;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  left: -290px;
}

.course-slider .slick-next:before,
.course-slider .slick-prev:before{
  font-family: fontawesome;
  font-size: 40px;
  line-height: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.course-slider .slick-next:before {
  color: #fff;
  content: '\f178';
  -webkit-text-stroke: 3px #f7471e;
}

.course-slider .slick-prev:before{
  color: #f7471e;
  content:'\f177';
  -webkit-text-stroke: 3px #ffffff;
}

.courser-item{
  margin:5px auto;
  padding: 20px 25px 40px 25px;
  max-width: 340px;
}

.courser-item-img {
  position: relative;
  background: #ddd;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.courser-item-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  max-width: 26px;
  max-height: 26px;
}

.slick-current.slick-active .courser-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 6px 2px rgba(173, 173, 173, 0.15);
}

.slick-current.slick-active .courser-item-img{
  background:#f7471e;
}

.slick-current.slick-active .courser-item-img .red-img {
  opacity: 0;
}

.courser-item h3 {
  color: #1e1f1e;
  font-size: 24px;
  margin: 20px 0 5px;
}

.courser-item p{
  margin-bottom: 0;
}

/* Selected-web */
.selected-web{
  padding: 50px 0;
}

.selected-web-content {
  position: relative;
}

.selected-web-content .number {
  font-size: 170px;
  font-weight: bold;
  color: #f5f5f5;
  position: absolute;
  z-index: -1;
  top: -50px;
  opacity: 0.75;
}

.selected-web-content h2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  margin: 60px 0 40px;
}

.selected-web-content p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.details-btn {
  max-width: 200px;
  padding-right: 50px;
}

.details-btn:hover{
  border-color: #f7471e50;
  background: #f7471e50;
  color: #f7471e;
}




/* ============================================= Responsive ============================================= */

@media(max-width:1199px) {
  .banner-text h1 {
    font-size: 50px;
    line-height: 50px;
  }
}

@media(max-width:991px) {
  .banner-text h1 {
    font-size: 40px;
    line-height: 45px;
  }
}

@media(max-width:767px) {
  .mobile-menu {
    cursor: pointer;
  }
  .mobile-menu .mobile-icon {
    background: #f7471e;
    border-radius: 1px;
    display: block;
    height: 3px;
    width: 35px;
  }
  .mobile-menu .mobile-icon:nth-child(2) {
    margin: 8px 0;
  }
  .menu {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 11;
    top: 0;
    left: -100%;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .menu li {
    display: block;
  }
  .menu li a {
    color: #EEEBEB;
    display: block;
    padding: 10px 30px;
    text-align: left;
  }
  .menu li .create-btn {
    float: left;
    margin-left: 20px;
  }
  .close-menu {
    color: #ffffff;
  }
  .close-menu .close-menu-wpr {
    cursor: pointer;
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
  }
  .close-menu .first-line {
    background: #fff;
    display: inline-block;
    width: 40px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .close-menu .second-line {
    background: #fff;
    display: inline-block;
    width: 40px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .menu.menu-slide {
    left: 0;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .menu li:last-child a {
    padding-right: 30px;
  }
  .banner-section {
    padding-top: 15vh;
  }
}

@media (max-width:567px) {
  .slider-img {
    width: 100%;
    max-width: 360px;
    display: block;
    margin: 30px auto !important;
  }
  .banner-section {
    padding-top: 10vh;
  }
}